@font-size-base: 14;
// font-sizes for medium screen size
@font-size-medium: 15;
// font-size for small screen size
@font-size-small: 16;
// medium screen size
@screen-medium: 1024px;
// small screen size
@screen-small: 640px;

@fonts: 'Hel', 'HelB';
@fPath: "../../assets/fonts";


// load _sth lib
@import "../lib/Sth-Camouflage/_sth_base.less";

// import custom styles
